# Server
NODE_ENV = 
SERVER_HOST =
SERVER_PORT = 

# Database 
MONGO_URI =

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# Mail
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=

# Encryption
ENCRYPT_IV_LENGTH=
ENCRYPT_KEY=

# JWT
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRY=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRY=

# Cloudinary 
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
